extends main.pug

block head 
    include ../partials/head/head
block title
    - const titles =  ["Hello", "HelloProduct"];
        title= titles[1]
block content 
    include ../sections/main-section/main-section